html {
  /*For Future Use*/
  margin: 0 0 0 0;
}

head {
  /*For Future Use*/
  margin: 0 0 0 0;
}

title {
  /*For Future Use*/
  margin: 0 0 0 0;
}

body {
  /*For Future Use*/
  margin: 0 0 0 0;
}
